<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.PhotoMapper">

    <select id="findPage" resultType="com.example.springboot.entity.Photo">
        select photo.*,`user`.nickname as userNickname,`album`.`name` as albumName,type.`name` as typeName from photo
        left join `user` on photo.user_id = user.id
        left join album on photo.album_id = album.id
        left join type on photo.type_id = type.id
        left join type t
        on photo.type_id = t.id
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},%)
            </if>
        </where>
    </select>
</mapper>
